nav div img{
    width: 30px;
}
nav div {
    display: inline-block;
    margin: 0px, 5px;
}
section center img{
    margin-top: 150px;
    margin-bottom: 20px;
} 
section center input{
    width: 450px;
    margin-bottom: 20px;
}
.Buscar{
    margin-right: 20px;
}
.Suerte{
    margin-left: 20px;
}
p{
    width: 100%;
    margin: 0px,10pc,400px;
}
ul li{
    display: inline;
}
ul.izq{
    float: left;
}
ul.der{
    float:right;
}
